<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Jpet Store">
    <test name="Tests">
         <classes>
             <class name="tests.HomePageTest"/>
             <class name="tests.PetStoreTest"/>
             <class name="tests.RegistrationPageTest"/>
             <class name="tests.SignInTest"/>
             <class name="tests.CartTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->